body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffdfc4;
    width: 100%;
    margin: 0; 
    padding: 0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#titulo{
    flex-direction: column;
    line-height: 10px;
    font-size: 13px;
    margin-left: 60px;
    color: goldenrod;
    font-family: "Pacifico", cursive;
    
}

li{
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}
ul{
    margin-right: 60px;
}


a{
    color: goldenrod;
    padding-bottom: 5px;
}
#localizador{
    height: 30px;
    width: 30px;
}

#capa{
    width: 100%;
    height: 600px;
    object-fit: cover;
}